@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
header{
    background-image: linear-gradient(190deg, blue,pink);
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.8em;
    color:white;
    font-family: "Permanent Marker";
    text-shadow: 2px 2px 2px blue;
}

.container{
    border:5px solid black;
    width:600px;
    height:600px;
    display:flex;
    flex-flow: row wrap;
    margin: 50px auto;
    align-content: flex-start;
    background-color: white;
}

.box {
    margin: 0 auto;
    width: 65vw;
    display: flex;
    height:50px;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(180deg,rgb(100, 100, 199),rgb(219, 156, 156));
    border:solid rgb(177, 124, 236) 1px;
    border-radius: 5px;
}

#clear{
    background-color: red;
    border-radius: 10px;
    width: 75px;
    height: 30px;
    font-size:1.1em;
    color:white;
    font-style: italic;
    font-family: "Permanent Marker";
    font-weight: bold;
}
body{
    background-color: rgb(233, 243, 233);
    background-image: linear-gradient(100deg,rgb(113, 198, 219),rgb(239, 242, 243));
}

.colorPicker input{
    background-color: transparent;
    border: none;
    border: solid black 2px;
    border-radius: 5px;
    background-image: linear-gradient(180deg,rgb(100, 100, 199),rgb(238, 227, 227));
}

.swiper label{
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Permanent Marker";
}

.colorPicker label{
    font-size:1.1em;
    font-family: "Permanent Marker";
    font-weight: bold;
}

a {
    position: absolute;
    right:5px;
}
#rainbow{
    width: 95px;
    height: 30px;
    font-size:1.1em;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(100deg, red,orange,yellow,green,blue,purple) ;
    font-style: italic;
    font-family: "Permanent Marker";
    font-weight: bold;
}