header{
    background-color: purple;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.5em;
    font-style: italic;
}

.container{
    border:5px solid black;
    width:600px;
    height:600px;
    display:flex;
    flex-flow: row wrap;
    margin: 50px auto;
}

.box {
    margin: 0 auto;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

#clear{
    background-color: red;
    border-radius: 10px;
    width: 75px;
    color:white;
}


